@import './config';

.container{
  width: 100%;

    .col-1,.col-2{
      width: 50%;
      height: 100%;
    }
}

 .intro-section{
    background: $secondary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @media screen and (max-width:768px){
      flex-direction: column;
      justify-content: center;
      
      .col-1,.col-2{
        width: 100%;
      }

      .col-1{
        padding: 25px !important; 
      }

    }

    .col-1{
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 100px;
      gap: 25px;

      @media screen and (max-width:480px){
        gap: 4rem;
      }

      h1,p{
        color: $very-dark-blue;
      }
      

      h1{
        font-size: 5.5rem;

        @media screen and (max-width:768px){
          font-size: 4rem;
        }
        @media screen and (max-width:480px){
          font-size: 3rem;
        }
      }
      p{
        font-size: 2rem;
        
         @media screen and (max-width:768px){
          font-size: 1.5rem;
        }
      }

      .btn-group{
        display: flex;
        align-items: center;
        gap: 15px;

        @media screen and (max-width:480px){
            flex-direction: column;
            gap: 2.8rem;
        }

        .view-btn,.download-btn{
          padding: 0.5rem 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: bold;
          border: 2px solid $light-blue;
          font-size: 1.2rem;

          @media screen and (max-width:768px) {
            font-size: 1rem;
            padding: 5px 10px;
          }
          @media screen and (max-width:480px) {
            font-size: 0.8rem;
            padding: 5px 10px;
            width: 300px;
          }
        }
        
        .view-btn{
          color: $light-blue;

          &:hover{
            background: $light-blue;
            color: $primary-color;
          }
        }
        .download-btn{
          background: $light-blue;
          color: $primary-color;
        } 
      }
    }

    .col-2{
      img{
        height: 100%;
        width: 100%;
      }
    }
  }

.creative-section{
  display: flex;
  justify-content: space-around;
  background: $very-dark-blue;
  padding: 100px;
  width: 100%;

  @media screen and (max-width:768px) {
    flex-direction: column;
    padding: 25px !important;
  
    .col-1,.col-2{
      width: 100%;
    }
  }

  .col-1,.col-2{
    padding: 25px !important;
    color: $primary-color;
  }

  .col-1{
    font-size: 2rem;
    padding: 10px !important;
    font-weight: bold;

    @media screen and (max-width:768px) {
      font-size: 1.5rem;
    }
    @media screen and (max-width:480px) {
      font-size: 1.2rem;
    }
  }

  .col-2{
    font-size: 0.9rem;
    line-height: 24px;
    padding: 10px !important;

    .read-more{
      padding: 10px 30px;
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      color: $primary-color;
      border: 2px solid;
      width: 200px;
      margin: 25px 0;

      @media screen and (max-width:768px) {
        width: 100%;
        justify-content: center;
      }
    }
  
    @media screen and (max-width:768px) {
      line-height: 35px;
      font-size: 1rem;
    }
  }
}

.work-experience{
  display: flex;
  background: $light-blue;
  padding: 100px;
  color: $primary-color;
  gap: 50px;
  

  @media screen and (max-width:768px){
    flex-direction: column;
    padding: 25px;
    gap: 25px;

    .col-1,.col-2{
      width: 100%;  
    }


  }
  .col-1{
    h1{
      font-size: 4rem;
      width: 200px;

    @media screen and (max-width:768px) {
      font-size: 3rem;
      width: 100%;
    }
    @media screen and (max-width:480px) {
      font-size: 2rem;
    }
    }
  }

   .col-2{
      display:flex;
      flex-direction: column;
      gap: 25px;

      @media screen and (max-width:768px){
        line-height: 35px;
      }

    h1{
    @media screen and (max-width:768px) {
      font-size: 2rem;
      margin: 20px 0;
    }
    @media screen and (max-width:480px) {
      font-size: 1.5rem;
    }
    }

      .work{
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      .work:not(:last-child){
        padding-bottom:35px;
        border-bottom: 2px solid;
      }
    }

}

.skills{
  padding: 100px 50px;
  background: $very-dark-blue;
  color: $primary-color;


  @media screen and (max-width:768px){
    padding: 50px;
  }
  @media screen and (max-width:480px){
    padding: 25px;
  }

  p{
    text-align: center;
    font-size: 4rem;
    margin-bottom:50px;

    @media screen and (max-width: 768px){
      font-size: 3rem;
    }
    @media screen and (max-width: 480px){
      font-size: 2rem;
    }
  }

  .skill{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 2rem;
    width: 70%;
    margin: 15px auto;

    @media screen and (max-width: 768px){
      width: 100%;
      font-size: 1.3rem;
    }
    @media screen and (max-width: 480px){
      font-size: 1rem;
    }
  }

  .skill-name{
    margin-right: 5%;
    width: 250px;
  }
  
  .progress-meter{
    position: relative;
    background: $primary-color;
    height: 20px;
    width:100%;

    @media screen and (max-width:768px){
      margin: 0;
      width: 100%;
    }

    .progress{
      width: 100%;
      height: 20px;
      background: $light-blue;
    }
    
  }

  // targeting different skills progress 
    ul>li:nth-child(1) .progress{
        width: 90%;
    }
    ul>li:nth-child(2) .progress{
        width: 90%;
    }
    ul>li:nth-child(3) .progress{
        width:90%;
    }
    ul>li:nth-child(4) .progress{
        width: 80%;
    }
    ul>li:nth-child(5) .progress{
        width: 80%;
    }
    ul>li:nth-child(6) .progress{
        width: 70%;
    }
    ul>li:nth-child(7) .progress{
        width: 70%;
    }
    ul>li:nth-child(8) .progress{
        width: 50%;
    }
    ul>li:nth-child(9) .progress{
        width: 50%;
    }


  span{
    font-size: 1.5rem;

    @media screen and (max-width:768px){
      font-size: 1.2rem;
      margin-left: 2%;
    }
  }
}

.projects{
  width: 100%;
  padding: 50px;
  
    & > p{
    text-align: center;
    font-size: 4rem;
    color: $very-dark-blue;
    width: 100%;
    margin-bottom: 3.5rem;
    font-weight: bold;


    @media screen and (max-width: 768px){
      font-size: 3rem;
    }
    @media screen and (max-width: 480px){
      font-size: 2rem;
    }
  }

  section{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 7rem;
    width: 100%;

    .project{
      width: 45%;

      @media screen and (max-width:768px){
        width: 100%;
      }

      .project-image{
        width: 100%;
        margin-bottom: 25px;
        
        img{
          height: 100%;
          width: 100%;
        }
      }
      .project-info{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 2.5rem;

        .project-name{
          font-size: 1.5rem;
          color: $very-dark-blue;
        }
        .project-description{
          color: gray;
        }
      }
    }
  }
}


.instagram-profile{
  padding: 50px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: $light-blue;
  color: $primary-color;

  @media screen and (max-width:768px){
    flex-direction: column;
    padding: 25px;
  }

  .instagram-handle{
    flex: 0.4;

    h1{
      font-size: 2.5rem;
      font-weight: normal;
      margin-bottom: 25px;
      width: 200px;
    }
    a{
      font-size: 2rem;
      font-weight: bold;
      color: $primary-color;
    }
  }

 .instagram-data{
   margin-top: 2rem;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 0.9rem;
   flex: 0.6;
   
   .instagram-box{
    height: 300px;
    width: 300px;

    @media screen and (max-width:768px){
      width: 200px;
      height: 200px;
    }
    @media screen and (max-width:480px){
      width: 120px;
      height: 120px;
    }
   }
   
    img{
    max-height: 100%;
    max-width: 100%;
  }
 }
}

.footer{
  padding: 50px 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background: $very-dark-blue;
  color: $primary-color;
  gap: 50px;

  @media screen and (max-width:768px){
    flex-direction: column;
    padding: 25px;
    
    .col-1,.col-2{
      width: 100%;
    }
  }

  .col-1{
    
     h1{
      font-size: 3.5rem;
      margin-bottom: 1.2rem;

    @media screen and (max-width:768px) {
      font-size: 2rem;
    }
    @media screen and (max-width:480px) {
      font-size: 1.5rem;
    }
    }
  }

  .col-2{

    ul{
      display: flex;
      flex-direction: column;
      gap:1rem;
      font-size: 1.4rem;
      margin-left: 3rem;

      @media screen and (max-width:768px){
        margin-left: 0;
      }

      .fa{
        margin-right: 0.9rem;
      }

      li{
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .footer-links{
        color:$primary-color;
        cursor: pointer;
        font-size: 1rem;
      }

      @media screen and (max-width:768px){
        align-items: flex-start;
        gap:2.5rem;
        
      }
    }
  }
}

